.ticker-track {
    display: flex;
    animation: scrollTicker 30s linear infinite;
}

.ticker-track:hover {
    animation-play-state: paused;
}

@keyframes scrollTicker {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
